*.ko
*.o
*.mod
*.mod.c
*.mod.o
*.symvers
*.order
.*.cmd
.tmp_versions/
Module.symvers
modules.order
kernel/*.ko
kernel/*.o
kernel/*.mod
kernel/*.mod.c
kernel/*.mod.o
kernel/.*.cmd
kernel/.tmp_versions/
kernel/Module.symvers
kernel/modules.order
user/test_file_to_pcie

